# Configuração da Cena 3D - Cada linha representa um objeto na cena
# Formato: caminho_obj pos_x pos_y pos_z rot_x rot_y rot_z scale_x scale_y scale_z eliminavel(0/1)

# Objetos elimináveis
#                       pos_x pos_y pos_z rot_x rot_y rot_z scl_x scl_y scl_z eliminavel(0/1)
assets/models/cubo.obj   0.0   0.0  -5.0   0.0    0.0   0.0  1.0   1.0   1.0        1
assets/models/cubo.obj   3.0   0.0  -5.0   0.0   45.0   0.0  1.0   1.0   1.0        1
assets/models/cubo.obj  -3.0   0.0  -5.0   0.0    0.0  45.0  1.0   1.0   1.0        1
assets/models/cubo.obj   0.0   2.0  -8.0   0.0    0.0   0.0  2.0   2.0   2.0        1

# assets/models/esfera.obj     -2.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0        1
# assets/models/piramide.obj       0.0   2.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0        1

# Objetos não elimináveis (refletem projéteis)
#                       pos_x pos_y pos_z rot_x rot_y rot_z scl_x scl_y scl_z eliminavel(0/1)
#assets/models/wall.obj          0.0   0.0  -5.0   0.0   0.0   0.0   5.0   3.0   1.0        0
#assets/models/chao.obj          0.0  -1.0   0.0  90.0   0.0   0.0  10.0  10.0   1.0        0