# Arquivo de configuração de cena - Visualizador 3D
# Formato: caminho_obj pos_x pos_y pos_z rot_x rot_y rot_z scale_x scale_y scale_z eliminavel
# Comentários começam com #

# Objetos de exemplo
assets/models/cube.obj 0 0 -5 0 0 0 1 1 1 1
assets/models/cube.obj 3 0 -8 0 45 0 1 1 1 1
assets/models/cube.obj -3 0 -8 0 -45 0 1 1 1 0